{% extends "base.html" %}
    {% block title %} Logs Status Page {% endblock %}

    {% block registeredlogs %}
        {{ block.super }} 
    {% endblock %}

    {% block pagination_headers %}

    <form name="input" action="/alerts/search/" method="get">
        <label for="q">Search for log trace:</label>
        <input type="text" name="query" value="{{ query }}">
        <input type="submit" value="Search" />
    </form> 

    <font color="#2B3E42"><h3> Last log traces </h3></font>
    
    {% endblock %}

    {% block pagination %}
        {{ block.super }} 
{% endblock %}
