[buildout]
develop = .
eggs = log4tailer
parts = 
    log4tail
    paramiko
    mox
    test
    mocker
   
[log4tail]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}

[mocker]
recipe = zc.recipe.egg
eggs = mocker

[mox]
recipe = zc.recipe.egg
eggs = mox
find-links = http://code.google.com/p/pymox/downloads/list

[paramiko]
recipe = zc.recipe.egg
eggs = paramiko

[test]
recipe = pbp.recipe.noserunner
eggs = pbp.recipe.noserunner
working-directory = ${buildout:develop}

